* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(4, 4, 29);
}
header {
    display: flex;
    margin-top:1rem;
}
.logo__image {
    width: 120px;
    height: 120px;
}
nav {
    text-align: right;
    justify-content: right;
    float: right;
    margin: auto;
    margin-top: 0;
    gap: 2rem;
   
}
nav ul {
    display: flex;
    gap: 2rem;
    text-align: right;
    justify-content: flex-end;
}

header nav ul li {
    text-decoration: none;
    list-style-type:none;
    color: white;
    font-weight: 700;
    font-size: 29px;
    display: flex;
    cursor: pointer;
    border-left: 1px solid white;
    border-bottom: 1px solid white ;
    padding: 0.3rem;
    transition: 1s ;

}
nav ul li:hover {
    border-left: none;
    border-bottom: none;
    color: rgb(228, 196, 117);
}
.content {
    display: flex;
    justify-content: space-evenly;
}
.content article {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 70px;
    color: lightgray;
    margin-right: 200px;
    width: 400px;
}

 .buttons button {
    display: flex;
    margin-top: 8rem;
    background-color: aqua;
    padding: 0.9rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 32px;
}
.buttons button:hover {
    opacity: 0.6;
}
.buttons #btn2{
    background-color: rgba(128, 255, 0, 0.884);
}
.buttons {
    display: flex;
    margin-left: 20rem;
    gap: 3rem;
    margin-top: -8rem;

}
h2 {
    color: grey;
    margin-bottom: 2rem;
    text-align: center;
}

.container {
    background-color: rgb(235, 231, 231);
    display: block;
    padding: 2rem 1rem;
    border-radius: 5px;
    box-shadow: 1px 7px 9px 5px rgb(65, 64, 64);
    padding: 3rem;
    height: 470px;

}
.container .social_media a {
    text-decoration: none;
    display: inline;
    margin-left: 20px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    color: black;
    font-size: 22px;
     transition: 1s;
    
}
.container .social_media a:hover {
    color: white;
}

.container .social_media span {
    border: 1px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.8rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: 1s;
}
.container .social_media span:hover {
    background-color: lightgrey;
    color: white;
}
.container .social_media img {
    width: 20px;
     text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 3px;
}
.container .inner_box{
    margin-top: 30px;
    display: block;
    text-align: center;
    line-height: 2;

}
.container .inner_box label{
    text-align: left;
    align-items: left;
    justify-content: left;
    font-size: 20px;
}
.container .inner_box input {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    cursor: text;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 400px;
    border: 1px solid black;
    transition: 1s;
}
.container .inner_box input:focus {
    border: 1px solid black;
}
::placeholder {
    color: black;
    text-align: left;
}
.container .inner_box input:hover {
    border: 1px solid black;
    background-color: rgb(129, 158, 194);
    color: black;
    font-weight: 700;
}
.container button {
    margin: auto;
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.9rem;
    margin-top: 20px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgb(130, 204, 130);
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 2rem;
}
.container button:hover {
    background-color: rgb(119, 241, 119) ;
    border:white;
}
.checkbox {
    display: flex;
    margin: auto;
    margin-left: 60px;
    position: absolute;
     font-size: 14px;
}
h1 {
    color: white;
    font-size: 42px;
}

.text__box {
    margin-top: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.text__box article{
    display:block;
    font-size: 32px;
     text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
   
}


 .first__section {
    background: linear-gradient(180deg, rgb(4, 4, 29), rgb(72, 80, 126), white);
    height: 200vh;
 }
 .sideNavBar {
        display: none;
    }








            /* MEDIA */
@media (max-width:1030px){
   
    header nav ul li {
        font-size: 13px;
    }

    .content {
        display: flex;
    }
    .buttons {
        display: none;

    }
    .text__box {
        display: none;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-left: -1px;
        margin-top: 50px;

    }
    .container{
        display: block;
        position: absolute;
        margin-right: 20px;
        margin-top: 400px;
        margin-left: -200px ;
        margin: auto;
        justify-content: center;
        text-align: center;
        align-items: center;

    }
    .menu  .fa-notdog{
        display: none;
    }
    .sideNavBar {
        display: none;
    }


}

@media (max-width:665px) {
    .text__box {
        display: none;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-left: -1px;
        margin-top: 50px;

    }
    .container{
        display: block;
        position: absolute;
        margin-right: 20px;
        margin-top: 400px;
        margin-left: -200px ;
        margin: auto;
        justify-content: center;
        text-align: center;
        align-items: center;

    }
    .menu  .fa-notdog{
        display: none;
    }
    .sideNavBar {
        display: none;
    }
    .sideNavBar {
       display: flex;
       flex-direction: column;
       background: rgba(29, 49, 105, 0.603);
       color: white;
       top: 0;
       left: 0;
       transition: .7s;
       width:  100%;
       z-index: 1;
    }
    .sideNavBar a {
        color: white;
        text-decoration: none;
        margin-left: 0;
        font-size: 15px;
        padding: 1rem;
        transition: 0.7s;
        

    }
    .sideNavBar a:hover {
        background-color:rgba(49, 84, 180, 0.603) ;
    }
    




}

@media (max-width:375px) {
    nav {
        display: none;
    }
    .container {
        width: 300px;
    }
    .container .inner_box label {
        font-size: 16px;
    }
    .container span {
        margin-left: -10px;
    }
    .container .social_media {
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
    .menu {
        position :relative;
    }
    .menu  .fa-notdog {
        display: flex;
        justify-content: flex-end;
        margin-right: 0;
        font-size: 30px;
        position: absolute;
        margin-left:200px;
        cursor: pointer;
        color: #FFD43B;

    }
    .sideNavBar {
       display: flex;
       flex-direction: column;
       background: rgba(29, 49, 105, 0.603);
       color: white;
       transition: .7s;
       width:  200px;
       z-index: 1;
    }
    .sideNavBar a {
        color: white;
        text-decoration: none;
        margin-left: 0;
        font-size: 20px;
        padding: 1rem;
        transition: 0.7s;
        font-size: 15px;
        

    }
    .sideNavBar a:hover {
        background-color:rgba(49, 84, 180, 0.603) ;
    }


}